<header>
  <div class="container">
    <img src="assets/images/twist-vector.svg" class="logo" />
    <h1>Twist <span class="light">– a WordPress Starter Theme</span></h1>

    <p>Add your creative twist to a classic cocktail of industry design standards. What will you serve up next?</p>

    <div class="project-buttons">
      <ul>
        <li class="the-project">
          <a href="http://github.com/annedorko/twist" class="button"><i class="fa fa-github"></i> View on Github</a>
        </li>
        <li>
          <a href="https://github.com/annedorko/twist/archive/master.zip" class="button"><i class="fa fa-download"></i> Download as .zip</a>
        </li>
        <li>
          <a href="https://github.com/annedorko/twist/archive/master.tar.gz" class="button"><i class="fa fa-download"></i> Download as .tar.gz</a>
        </li>
      </ul>
    </div>
  </div>
</header>
