.container {
  @include outer-container;
}
.social-nav {
  @include span-columns(4);
  @include shift(8);
  text-align: right;

  li {
    list-style: none;
    display: inline-block;
    margin-left: .5em;
  }
}
main {
}
footer {
  background: lighten( $secondary-color, 10 );
  border-top: 1px solid darken($secondary-color, 10 );
  color: transparentize(white, 0.5);
}
